.body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #004aad, #001f3f);
  color: white;
}

.contenedor {
  padding: 30px;
}

.button {
  font-size: 1.2em;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover{
  background-color: orange;
  transform: scale(1.1);
}

.img {
  width: 400px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px gold;
}

